<div class="msg col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="decorative-heading">Generated Theme: {{name}}</h4>
    </div>
    <div class="panel-body">
      <p><button class="btn btn-default" onclick="saveCurrentTheme()">Save Theme</button></p>
      <p>After saving you can install the theme in Emacs by doing this:</p>
      <div class="emacs-action">
        <kbd>M-x</kbd> <code>package-install-file</code>
        <br/><code><span class="emacs-prompt">Package file name:</span> {path}/{{name}}-theme.el</code>
        <br>Where <code>{path}</code> is the location you saved {{name}}-theme.el
      </div>

      <p>Then you can activate it:</p>
      <div class="emacs-action">
        <kbd>M-x</kbd> <code>load-theme</code>
        <br/><code><span class="emacs-prompt">Load custom theme:</span> {{name}}</code>
      </div>
      <h4>Generated Code</h4>
      <pre><code class="lisp">{{{generated}}}</code></pre>
    </div>
  </div>
</div>
